[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# FMOD logs y temporales
*.log
fmod_editor.log

# VS Code
.vscode/

# Unity temporales extra
MemoryCaptures/
Recordings/